.productImage{
    width: 100%;
    height:400px;
}
.productImage img{
    width: 100%;
    height:100%;
    object-fit: contain;
}
.mainContainer{
    align-items: center;
    display:flex;
    flex-direction: column;
    gap:3rem;
    height:100vh;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
}
.productButtons{
    display:flex;
    justify-content: center;
    gap:1rem;
    width:50%;
    margin:0 auto;
}

.productButtons button{
    border:none;
    border-radius:50%;
    padding:1rem;
}