.headerWrapper{
    background:var(--white-primary);
    padding:0.3rem 0;
    position: fixed;
    width:100%;
}
.navElements{
    align-items: center;
    color:var(--blue-primary);
    display:flex;
    justify-content: space-between;
}
.navList{
    display:flex;
    gap:1rem;
    list-style: none;
}
.navList a{
    color:var(--blue-primary);
    list-style: none;
    text-decoration: none;
}
.navImage{
    height:3rem;
}
.navImage img{
    height:100%;
    object-fit: contain;
    width:100%;
}