.headerWrapper{
    background:var(--black-primary);
    padding:0.5rem 0;
    width:100%;
}
.navElements{
    align-items: center;
    color:var(--white-primary);
    display:flex;
    justify-content: space-between;
}
.navList{
    list-style: none;
}
.navList a{
    color:#fff;
    list-style: none;
    text-decoration: none;
}
.navImage{
    height:3rem;
}
.navImage img{
    height:100%;
    object-fit: contain;
    width:100%;
}