.jumbotron{
    align-items: center;
    background: url('../../../public/textura-bg.jpg') center;
    color:var(--white-primary);
    display:flex;
    justify-content: center;
}
.jumbotronMask{
    align-items: center;
    background: #5027008b;
    color:var(--white-primary);
    display:flex;
    flex-direction: column;
    gap:1rem;
    height:50vh;
    justify-content: center;
    width:100%;
}
.jumbotronTitles{
    align-items: center;
    border-radius: 10px;
    background: #ffffffc2;
    color:var(--blue-primary);
    display:flex;
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    padding:3rem;
    width:auto;
    text-align:center;
}
.jumbotronTitle{
    font-size:2rem;
}
.jumbotronButtons{
    display:flex;
    justify-content: center;
}
.jumbotronButtons a{
    background: var(--blue-primary);
    color:var(--white-primary);
    padding:0.5rem;
    text-decoration: none;
    width:100%;
}

@media (min-width:240px) and (max-width:880px){
    .jumbotronTitles{
        width:90%;
    }
}