@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: var(--white-secondary);
    color:var(--black-primary);
    font-family: 'Kalnia', serif;
    font-weight: 400;
}

:root{
    --blue-primary:#143b4b;
    --black-primary:#0a252b;
    --white-primary:#ffffff;
    --white-secondary:#f9f9f9;
    --gray-primary:#687d85;
    --box-shadow:#00000044;
}

.flexContainer{
    max-width:90%;
    margin:0 auto;
}
.title{
    font-size: 2rem;
    font-weight: 300;
    margin-bottom:4rem;
    text-align: center;
}
@media(min-width:240px) and (max-width:880px){
    .flexContainer{
        max-width: 95%;
    }
}
